@charset "utf-8";
/* web reset */
*{margin:0; padding:0; border:0;font-family: ""微软雅黑",Tahoma,Arial";color:#666;}ul{list-style: none}a{color:#666;text-decoration: none}a:hover{color:#f33;text-decoration: none}
h1,h2,h3,h4{font-size: 1em;font-style: normal;font-weight: normal;}
.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clear{zoom:1;}
.fl,.floatLeft{float:left;}
.fr,.floatRight{float:right;}
.mt10{margin-top:10px;}.mt30{margin-top: 30px;}.pl5{padding-left:5px;}.pt5{padding-top:5px;}.w198{width:198px;}.w199{width:199px;}
#f1 .mt{border-bottom:1px solid #3791c6 ;}
#f1 .mt ul.tab .lihover{border-top:2px solid #3791c6;border-left:1px solid #3791c6;border-right:1px solid #3791c6;overflow: hidden;}
#f1 .mc .side .theme{background: #D5E6EB;padding-left:10px;}
#f2 .mt{border-bottom:1px solid #a55ea0 ;}
#f2 .mt ul.tab .lihover{border-top:2px solid #a55ea0;border-left:1px solid #a55ea0;border-right:1px solid #a55ea0;overflow: hidden;}
#f2 .mc .side .theme{background: #f0d5fc;padding-left:10px;}
.f1bg{background: #f3fafc}
.f2bg{background: #f6e6fd}


.top{width:100%;height:29px;line-height:29px;font-size:12px;border-bottom:1px solid #d8d8d8;background: #f5f5f5;top:0;z-index:9999;}
.top .topnav{width:1200px;margin:0 auto;}
.top .topnav .user-entry{width:300px;float:left;}
.top .topnav .quick-menu{width:540px;height:30px;float:right;text-align: right}
.top .topnav .quick-menu li{float: left;position: relative;}
.top .topnav .quick-menu li.user-center{}
.top .topnav .quick-menu li.user-center .menu{padding:0 10px;border-bottom:none;}
.top .topnav .quick-menu li.user-center .menu a{padding:0 10px;}
.menuhover{ background: #fff;box-shadow: 0 3px 10px rgba(0,0,0,0.2);border-bottom: none;}
.top .topnav .quick-menu li.user-center .menu:hover .arrow{transform: rotate(180deg);transform-origin: 50% 30% 0;}
.top .topnav .quick-menu li.user-center .menu .arrow{position:absolute;top:14px;right:0px;border-color: #333 transparent transparent;-webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;margin-right:8px;border-style: solid dashed dashed;border-width: 4px;font-size: 0;height: 0;line-height: 0;}
.top .topnav .quick-menu li.user-center .menu-bd{display:none;padding:0 10px;background:#fff;position: absolute;top:29px;z-index:10000;border-top:none;box-shadow: 0 3px 10px rgba(0,0,0,0.2)}
.top .topnav .quick-menu li.user-center .menu-bdp{width:82px;left:-14px;}
.top .topnav .quick-menu li .hline{width:1px;height:10px;background: #ccc;position: absolute;top:10px;right:0;}
.head{width:1200px;height:55px;margin:0 auto;padding:22px 0;}
.head .logo{width:210px;}
.head .search .sch-form{}
.head .search .sch-form .stext{width:456px;height:30px;border:2px solid #3b98ee;float: left;}
.head .search .sch-form .sbtn{width:86px;height:34px;line-height:34px;background: #3b98ee;color:#fff;margin-left:-4px;font-weight: 600;font-size: 14px;float: left;}
.head .search .sch-hint a{font-size:12px;padding:0 5px;}
.head .cart .cartb{width:138px;height:37px;line-height:37px;text-align:center;border:1px solid #ccc;font-size: 12px;position: relative;}
.head .cart .cartb .buyicon{width:17px;height:14px;display:inline-block;background: url(../images/nc_topbar.gif) no-repeat;position: absolute;top:12px;left:19px;}
/*导航分类菜单*/
.dtw{border-bottom:2px solid #2d80ce;}
.dtww{width:1200px;margin: 0 auto;}
.dt{width:210px;height:47px;line-height:47px;background: #2d80ce;}
.dt a{display:block;width:190px;height:44px;padding:0 10px;font-size: 16px;color:#fff;}
.dtw .dtww{line-height: 47px;}
.dtw .dtww .navbar{}
.dtw .dtww .navbar li{float: left;padding:0 20px;}

.nav{width:1200px;margin:0 auto;}
.nav .category{width:1200px;margin:0 auto;}
.nav .category .dd{width:210px;height:420px;background:#47aaff;position: relative;float: left;font-size: 14px;border-bottom:1px solid #47aaff;}
.nav .category .dd .dd-inner li{width:210px;height:30px;color:#fff;border-left: 1px solid #47aaff;position: relative;z-index:1;}
.nav .category .dd .dd-inner .lihover{background:#f7f7f7;color:#B61D1D;}
.nav .category .dd .dd-inner .lihover a {color:#666;}
.nav .category .dd .dd-inner .lihover h3+i{color:#f7f7f7;}
.nav .category .dd .dd-inner .lihover div.item-sub{display: block;}
.nav .category .dd .dd-inner li h3{position: absolute;z-index: 2;height: 31px;padding: 0 10px;line-height: 31px;font-family: "microsoft yahei";font-size: 14px;font-weight: 400;}
.nav .category .dd .dd-inner li h3 a{color:#fff;}
.nav .category .dd .dd-inner li h3 a:hover{background:#fff;color:#c00;}
.nav .category .dd .dd-inner li h3+i{position: absolute;z-index: 1;top: 9px;right: 14px;width: 4px;height: 14px;font: 400 9px/14px consolas;color:#fff;}
.nav .category .dd .dd-inner li h3+i:hover{top:0;left:205px;width:14px;height:31px;background:#f7f7f7;overflow:hidden;line-height: 200px;}
.nav .category .dd .dd-inner ul li div.item-sub{width:721px;height:419px;border-top:1px solid #47aaff;border-right:1px solid #47aaff;border-bottom:1px solid #47aaff;position:absolute;left:209px;display:none;background: #f7f7f7;}
.nav .category .dd .dd-inner ul li .item-sub .subleft{width:722px;float:left;}
.nav .category .dd .dd-inner ul li .item-sub .subright{width:168px;float:left;}
.nav .category .dd .dd-inner ul li .item-sub .subleft .item-channels{float: left;display: inline;width: 570px;height: 24px;padding: 20px 0 0 20px;background: #f7f7f7;overflow: hidden;}
.category .dd .dd-inner ul li .item-sub .subleft .item-channels a{float: left;display: inline-block;padding: 0 0 0 8px;margin-right: 20px;line-height: 24px;background: #7C7171;color: #fff;white-space: nowrap;}
.category .dd .dd-inner ul li .item-sub .subleft .item-channels a i{display: inline-block;width: 23px;height: 24px;line-height:24px;margin-left:8px;font: 400 9px/24px consolas;background: #5c5251;text-align: center;cursor: pointer;}
.category .dd .dd-inner ul li .item-sub .subleft .item-channels a:hover{background:#c81623;}
.category .dd .dd-inner ul li .item-sub .subleft .item-channels a:hover i{background:#B1191A }
.category .dd .dd-inner ul li .item-sub .subleft .subitems{float:left;width:722px;padding:6px 0 0 20px;}
.category .dd .dd-inner ul li .item-sub .subleft .subitems a{color:#666;}
.category .dd .dd-inner ul li .item-sub .subleft .subitems dl{width: 100%;overflow: hidden;line-height: 2em;}
.category .dd .dd-inner ul li .item-sub .subleft .subitems dl dd{position: relative;float: left;width: 54px;padding: 8px 30px 0 0;text-align: right;font-weight: 700;}
.category .dd .dd-inner ul li .item-sub .subleft .subitems dl dd a{width:54px;display: inline-block;}
.category .dd .dd-inner ul li .item-sub .subleft .subitems dl dd a i{display: inline-block;position: absolute;top: 13px;right: 18px;width: 4px;height: 14px;font: 400 9px/14px consolas;}
.category .dd .dd-inner ul li .item-sub .subleft .subitems dl dt{width:600px;border-bottom:1px solid #eee;float:left;padding:6px 0;}
.category .dd .dd-inner ul li .item-sub .subleft .subitems dl dt a {float: left;padding: 0 8px;margin: 4px 0;line-height: 16px;height: 16px;border-left: 1px solid #e0e0e0;white-space: nowrap;}
.category .dd .dd-inner ul li .item-sub .subright .item-brands{width:168px;}
.category .dd .dd-inner ul li .item-sub .subright .item-brands .brands-inner{height:144px;margin: 19px 0px 10px 0;}
.category .dd .dd-inner ul li .item-sub .subright .item-brands .brands-inner a{width:83px;height:35px;display: inline-block;float:left;margin: 1px 0 0 1px;}
.nav .banner{width:720px;height:401px;margin:10px 9px 0px 10px;}
/*轮播图*/
.flex{width:720px;height:411px;position: relative;overflow: hidden;cursor: pointer;}
.flex ul.slider{height:411px;position: absolute;}
.flex ul.slider li{width:720px;height:411px;float:left;}
.flex ul.slider li img{width:720px;}
.btn{position: relative;left:0;top:45%;cursor: pointer;display: none;}
.btn .prev{width:50px;height:50px;background: url(../images/prev.png);position:absolute;left:10px;}
.btn .next{width:50px;height:50px;background: url(../images/next.png);position:absolute;right:10px;}
.dot{position: absolute;left:40%;bottom:3%;list-style: none}
.dot li{width:13px;height:13px;float:left;margin-left:10px;background: url(../images/dot.png);background-position: -13px 0;cursor: pointer;}
.dot li.cur{background-position: 0 0;}

.nav .entrance{width:251px;height:411px;margin-top: 10px;overflow: hidden;}
.nav .entrance .enter{height:68px;border:1px solid #ccc;}
.nav .entrance .enter a{width:83px;height:68px;display:block;font-size: 12px;font-weight: 600;color:#555;text-align: center;float: left;}
.nav .entrance .enter a:hover{color:#fff;background: #f16a01}
.nav .entrance .enter a:hover .x1{background-position: 0 -32px;}
.nav .entrance .enter a:hover .x2{background-position: -34px -32px;}
.nav .entrance .enter a:hover .x3{background-position: -68px -32px;}
.nav .entrance .enter a .epngfix{width:34px;height:32px;display:block;background: url(../images/nc_home_index.png) no-repeat;margin:4px auto;}
.nav .entrance .enter a .x1{background-position: 0 0;}
.nav .entrance .enter a .x2{background-position: -34px 0}
.nav .entrance .enter a .x3{background-position: -68px 0}
.nav .entrance .enews{border:1px solid #ccc;margin-top: 10px;}
.nav .entrance .enews dl{padding-bottom: 5px;}
.nav .entrance .enews dt{height:33px;line-height:33px;font-size:14px;font-weight:600;border-bottom:1px solid #ccc;padding:0 8px;}
.nav .entrance .enews dt .more{font-size: 12px;font-weight: normal}
.nav .entrance .enews dd{width:220px;height:25px;line-height:25px;font-size: 12px;padding-left: 8px;padding-right:8px;overflow: hidden;}
.nav .entrance .enews dd span{font-weight: 600}
.nav .entrance .enews dd a:hover{text-decoration: underline;}
.nav .category .entrance .ebanner{height:125px;}
.nav .category .entrance .ebanner img{width:250px;height:125px;}
.nav .rec{overflow:hidden;}
.nav .rec ul{margin-right:-4px;}
.nav .rec ul li{float: left;background: #ccc}
.nav .rec ul li.rtitle{width:204px;height:105px;margin-right: 3px;}
.nav .rec ul li.rlist{width:246px;height:105px;margin-right: 3px;}
.nav .guess-you{margin:30px 0;overflow: hidden;}
.nav .guess-you .gyt{height:40px;line-height: 40px;}
.nav .guess-you .gyt h2{font-weight: 600;display: inline-block;float: left;}
.nav .guess-you .gyt span{font-size: 12px;float: left;padding-left: 10px;}
.nav .guess-you .gylbox{height:227px;border:1px solid #ccc;overflow: hidden;}
.nav .guess-you .gyl{margin-right: -5px;}
.nav .guess-you .gyl li{width:199px;height:227px;border-right:1px solid #ccc;float: left;}
.nav .guess-you .gyl li:hover{opacity: 0.9;}
.nav .guess-you .gyl li .gylpic{height:130px;text-align:center;margin-bottom:10px;margin-top:20px;position: relative;}
.nav .guess-you .gyl li .gylinfo{width:150px;margin:0 auto;}
.nav .guess-you .gyl li .gylinfo .gylname{width:150px;height:40px;line-height:20px;overflow:hidden;font-size: 12px;}
.nav .guess-you .gyl li .gylinfo .gylprice{color:#b51304;line-height: 25px;}
.nav .guess-you .gyl li .gylinfo .gylprice i{color:#b51304;font-size: 12px;font-style: normal;}
.content{width:1200px;margin:10px auto;}
.content .floor{width:1200px;}
.content .floor .mt{width:1200px;height:34px;line-height: 34px;}
.content .floor .mt h2{font-weight: bold;font-size: 16px;float: left;}
.content .floor .mt ul.tab{height:34px;float:right;line-height:34px;border-left:1px solid #ededed;border-right:1px solid #ededed;border-top:1px solid #ededed;margin-top: -1px;}
.content .floor .mt ul.tab .lihover{border-bottom:2px solid #fff;margin-top: -3px;z-index: 2;}
.content .floor .mt ul.tab li{float: left;position: relative;z-index:2;}
.content .floor .mt ul.tab li span{width:1px;height:14px; background: #ccc;position: absolute;right:-1px;top:10px;z-index: 1;}
.content .floor .mt ul.tab li a{display: inline-block;padding:0 16px;}
.content .floor .mt ul.tab li a:hover{}

.content .floor .mc{width:1200px;}
.content .floor .mc .side{float: left;width:300px;}
.content .floor .mc .side .banner{width:300px;height:234px;position: relative;overflow: hidden;}
.content .floor .mc .side .banner a{height:234px;display: inline-block;}
.content .floor .mc .side .banner i.light{width: 150px;height: 234px;cursor:pointer;position: absolute;left: -200px;top: 0;background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
	transform: skewx(-25deg);
	-o-transform: skewx(-25deg);
	-moz-transform: skewx(-25deg);
	-webkit-transform: skewx(-25deg);
}
.content .floor .mc .side .banner:hover .light{ left:300px; -moz-transition:0.5s;-o-transition:0.5s;-webkit-transition:0.5s; transition:0.5s;}
.content .floor .mc .side .theme li{width: 125px;height:26px;line-height: 26px;float: left;padding:10px;}
.content .floor .mc .side .theme li a{height:26px;line-height:26px;display: inline-block;}
.content .floor .mc .side .theme li i.icon {width:26px;height:26px;display:inline-block;float:left;background: url(../images/electronicsicon.png) no-repeat;margin-right: 5px;}
.content .floor .mc .side .theme li.fore2 i.icon {background-position: 0 -26px;}
.content .floor .mc .side .theme li.fore3 i.icon {background-position: 0 -26px;}
.content .floor .mc .side .theme li.fore4 i.icon {background-position:0 0;}
.content .floor .mc .side .theme span{display: block;float: left;}
.content .floor .mc .side .words{width:300px;padding-top: 20px;}
.content .floor .mc .side .words ul.assis{width:300px;font-size: 14px;}
.content .floor .mc .side .words ul.assis li{width:123px;height:24px;padding-left:20px;float: left}
.content .floor .mc .side .words ul.category{font-size: 12px;padding-right: 10px;padding-left:20px;padding:10px 10px 10px 20px;}
.content .floor .mc .side .words ul.category li{width:135px;float: left; line-height: 25px;}
.content .floor .mc .side .words ul.category li a{padding:0 5px;}
.content .floor .mc .main{float:left;width:899px;height:513px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;overflow: hidden;}
.content .floor .mc .main ul{display: none;margin-right: -3px;}.content .floor .mc .main ul.list{display: list-item;}
.content .floor .mc .main ul li{width:299px;height:256px;float: left;border-right:1px solid #ededed;border-bottom:1px solid #ededed;overflow: hidden;}
.content .floor .brands{width:1200px;margin-top: 10px;background: #f7f7f7;padding:10px 0;}
.content .floor .brands ul li{width:119px;height:40px;border-right:1px dotted #ccc;float:left;}
.content .floor .brands ul li a img{height:40px;width:100px;}
/*今日精品*/
.specbox .spet{height:40px;line-height: 40px;}
.specbox .spet h2{font-weight: 600;display: inline-block;}
.content .spe{width:1198px;height:280px;border:1px solid #ededed;font-size: 12px;}
.content .spe .special{width:900px;float:left;}
.content .spe .special ul li{position: relative;}
.content .spe .special ul li.s1{width:219px;height:260px;float: left;border-right:1px solid #ededed;padding:10px;}
.content .spe .special ul li.s{width:199px;height:104px;float: left;border-right: 1px solid #ededed;border-bottom: 1px solid #ededed;padding:18px 10px;}
.content .spe .special ul li.s2{}
.content .spe .special ul li.s3{}
.content .spe .special ul li.s4{}
.content .spe .special ul li.s5{border-bottom: 0;}
.content .spe .special ul li.s6{border-bottom: 0;}
.content .spe .special ul li.s7{border-bottom: 0;}
.content .spe .special ul li .spic{width:219px;height:200px;text-align: center;-moz-transition:all 0.4s ease-out 0s;}
.content .spe .special ul li .spic:hover{margin-left: -10px;}
.content .spe .special ul li .sinfo {padding:0 10px;}
.content .spe .special ul li .sinfo .sname{width:220px;height:30px;line-height:30px;overflow: hidden;font-size: 12px}
.content .spe .special ul li .sinfo .sprice{height:30px;line-height:30px;font-size: 14px;color:#666;}
.content .spe .special ul li  em{color: #E12228;font-weight: 700;font-style: normal;}
.content .spe .special ul li.s .sppic{width:100px;height:100px;float:left;}
.content .spe .special ul li.s .spinfo{width:83px;float: left;font-size: 12px;color:#666;padding-left: 15px;}
.content .spe .special ul li.s .spinfo .sp-name{width:83px;height:70px;overflow: hidden;}
.content .spe .special ul li.s .spinfo .sp-price{height:30px;line-height: 30px;}
.content .spe .share{width:298px;height:280px;float:left;}
.content .spe .share .sharebox{position: relative;height:248px;top:20px;padding: 0 20px;overflow: hidden;}
.content .spe .share .sharebox ul{position: absolute;}
.content .spe .share .sharebox ul li{height:90px;padding:17px 0;clear: both}
.content .spe .share .sharebox ul li .sh-pic{width:80px;height:80px;float: left;}
.content .spe .share .sharebox ul li .sh-pic img{width:80px;height:80px;}
.content .spe .share .sharebox ul li .sh-info{width:160px;float: left;padding-left: 20px;}
.content .spe .share .sharebox ul li .sh-info .c-info{width:160px;height:35px;line-height: 35px;}
.content .spe .share .sharebox ul li .sh-info .c-info span.icon{display: inline-block;width: 30px;height:30px;border:1px solid #fff;border-radius: 15px;overflow: hidden;}
.content .spe .share .sharebox ul li .sh-info .c-info span.icon img{width:30px;height:30px;}
.content .spe .share .sharebox ul li .sh-info .c-info .name{width:120px;display:inline-block;overflow:hidden;vertical-align: top}
.content .spe .share .sharebox ul li .sh-info .mes{height:40px;padding:10px 5px;line-height: 20px;background: #ededed;overflow: hidden;}


#faq { width: 1200px; padding-top: 10px; margin: 10px auto; border-top: 1px dashed #E7E7E7;}
#faq { width: 1200px; padding-top: 10px; margin: 10px auto; border-top: dotted 1px #D8D8D8;}
#faq ul { width: 180px; height: 148px; float: left; padding: 5px; margin: 0 4px;}

#faq ul.s1 { background-position: 0px 0px; }
#faq ul.s2 { background-position: -160px 0px; }
#faq ul.s3 { background-position: -320px 0px; }
#faq ul.s4 { background-position: -480px 0px; }
#faq ul.s5 { background-position: -640px 0px; }
#faq ul.s6 { background-position: -800px 0px; }
#faq ul h3 { width:180px;text-align:center;font-family: "微软雅黑", Tahoma, Arial; font-size: 20px; font-weight: normal; color: #333; padding-bottom: 6px; }
#faq ul li { width:180px;text-align:center;font-size: 12px; line-height: 24px; display: block;}

.ad_middle { display: inline; width: 240px; height: 135px; float: left; margin: 0 8px 0 0;}
