{% extends 'hotel_reslut.html' %}
{% block content %}
                    <!--Blog Post-->
                            {% for cate in cates %}
            <article class="col-sm-4 post post-masonry post-format-image">
                <div class="post-wrapper row">
                    <div class="featured-content row">
                        <a href="http://www.mafengwo.cn{{ cate.url }}"><img src="{{ cate.imgurl }}" width="350" height="202" alt="" class="img-responsive"></a>
                    </div>
                    <div class="post-excerpt row">
                        <h5 class="post-meta">
{#                            <a href="#" class="date">feb 17, 2016</a>#}
                            <span class="post-author"><i>by</i><a href="#">马蜂窝</a></span>
                        </h5>
                        <h3 class="post-title"><a href="http://www.mafengwo.cn{{ cate.url }}">{{ cate.name }}</a></h3>
                        <p>{{ cate.content }}</p>
                        <footer class="row">
                            <h5 class="taxonomy"><i>评分:</i>{{ cate.score }}</h5>
{#                            <div class="response-count"><img src="images/comment-icon-gray.png" alt="">5</div>#}
                        </footer>
                    </div>
                </div>
            </article>
            {% endfor %}

{% endblock %}