{% extends 'hotel.html' %}
{% block content %}

</head>
  	<link rel="stylesheet" href="/static/css/zerogrid.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/responsive.css">
<body id="archive">
<div class="wrap-body">

<!--////////////////////////////////////Header-->



<!--////////////////////////////////////Container-->
<section id="container">
	<div class="wrap-container">
		<div id="main-content">
			<div class="zerogrid">
				<div class="row wrap-content">
					<div class="col-1-4">
						<div class="wrap-col">
                            {% for mafengwo in info %}
							<article>
								<div class="wrap-art">
                                    <a href="www.mafengwo.cn{{ mafengwo.url }}"><img src="{{ mafengwo.imgurl }}"></a>
									<div class="art-header">
                                        <a href="{{ mafengwo.url }}"><h3>{{ mafengwo.name }}</h3></a>
									</div>
									<div class="art-content">
										<p>评分{{ mafengwo.score }}</p>
                                        <p>价格:{{ mafengwo.content }}</p>
									</div>
								</div>
							</article>
                            {% endfor %}

{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/12.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/3.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/11.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/16.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
						</div>
					</div>
					<div class="col-1-4">
						<div class="wrap-col">
                            {% for ctrip in ctriplist %}
							<article>
								<div class="wrap-art">
									<a href="{{ ctrip.href }}"><img src="http://{{ ctrip.pic_href }}"></a>

									<div class="art-header">
										<h3>{{ ctrip.name }}</h3>
									</div>
									<div class="art-content">
										<p>{{ ctrip.location }}</p>
										<p>评分:{{ ctrip.score }},价格:{{ ctrip.people_num }},</p>
									</div>
								</div>
							</article>
                            {% endfor %}
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/6.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/7.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/4.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/15.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
						</div>
					</div>
					<div class="col-1-4">
						<div class="wrap-col">
							<article>
								<div class="wrap-art">
									<img src="/static/images/8.jpg">
									<div class="art-header">
										<h3>Civita di Bagnoregio, Italia</h3>
									</div>
									<div class="art-content">
										<p>April 14, 2015</p>
										<p>Uploaded by <a href="#">John Doe</a></p>
									</div>
								</div>
							</article>
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/9.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/10.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/13.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
{#							<article>#}
{#								<div class="wrap-art">#}
{#									<img src="/static/images/14.jpg">#}
{#									<div class="art-header">#}
{#										<h3>Civita di Bagnoregio, Italia</h3>#}
{#									</div>#}
{#									<div class="art-content">#}
{#										<p>April 14, 2015</p>#}
{#										<p>Uploaded by <a href="#">John Doe</a></p>#}
{#									</div>#}
{#								</div>#}
{#							</article>#}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</div>
{% endblock %}