{% extends 'index3_base.html' %}
                {% block content %}
				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>欢迎</strong></a>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>尽搜己用<br />
											by CMZZ</h1>
											<p>一个吃穿住行的高性价比网站</p>
										</header>
										<p>我们致力于打造为人民服务的平台</p>
										<ul class="actions">
											<li><a href="#" class="button big">了解更多</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="/static/img/tm-img-320x320-1.jpg" alt="" />
									</span>
								</section>
						</div>
					</div>
                    {% endblock %}
