{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
        <section class="tm-section tm-section-3 tm-bg-purple">
            <div class="container-fluid tm-section-3-inner">
                <div class="row center-block text-xs-center tm-section-3-header">
                    <div class="col-xs-12">
                        <h2 class="tm-text-white tm-section-3-title">搜索结果：</h2>
{#                        <p class="tm-text-white tm-section-3-description">#}
{#                            Curabitur porta scelerisque justo, ut ultrices lacus auctor eget. #}
{#                            Proin volutpat eu mi nec consequat. Integer porta tristique quam.</p>#}
                    </div>
                </div>
                <div class="row">

                    <div class="tm-plan-boxes-container">
                                    {% for product in products %}
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-col">

                        <div class="gl-i-wrap">
                            <div class="p-img">
                                <a target="_blank" title=""
                                   href="{% url 'taobao:show' product.productid %}">
                                    <img width="220" height="220" class="" data-img="1" source-data-lazy-img="" data-lazy-img="done"
                                         src="{{ product.imgurl }}">
                    </a>
                            </div>

                            <div class="p-price">
                    <strong class="J_100000400010" data-done="1"><em>￥</em><i>{{ product.reallyPrice }}</i></strong>		</div>
                            <div class="p-name p-name-type-2">
                                <a target="_blank" title="" href="{% url 'taobao:show' product.productid %}">
                                    <em>{{ product.name }}</em>
                                    <i class="promo-words" id="J_AD_100000400010">
                                        {{ product.description }}
                                    </i>
                                </a>
                            </div>
                        </div>

                        </div>
                        {% endfor %}






                    </div> <!-- tm-plan-boxes-container -->
                </div>
            </div>
        </section>
{% endblock %}