{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
        <section class="tm-section tm-section-3 tm-bg-purple">
            <div class="container-fluid tm-section-3-inner">
                <div class="row center-block text-xs-center tm-section-3-header">
                    <div class="col-xs-12">
                        <h2 class="tm-text-white tm-section-3-title">Choose your plan</h2>
                        <p class="tm-text-white tm-section-3-description">Curabitur porta scelerisque justo, ut ultrices lacus auctor eget. Proin volutpat eu mi nec consequat. Integer porta tristique quam.</p>
                    </div>
                </div>
                <div class="row">

                    <div class="tm-plan-boxes-container">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-col">

                            <table class="tm-plan">
                                <thead>
                                    <tr>
                                        <th class="text-xs-center tm-plan-table-header">Silver Plan</th>
                                    </tr>
                                </thead>
                                <tbody class="tm-bg-light-purple">
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">Sed porttitor lobortis</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">10 sit amet luctus sapien</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">15 eget sagittis</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">20 aliquam eros nec tortor</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">30 vel suscipit turpis</td></tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-xs-center">
                                            <a href="#" class="tm-plan-link tm-plan-link-purple">Sign up</a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-col">

                            <table class="tm-plan">
                                <thead>
                                    <tr>
                                        <th class="text-xs-center tm-plan-table-header">Titanium Plan</th>
                                    </tr>
                                </thead>
                                <tbody class="tm-bg-light-green">
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">Sed porttitor lobortis</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">20 sit amet luctus sapien</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">25 eget sagittis</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">35 aliquam eros nec tortor</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">45 vel suscipit turpis</td></tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-xs-center">
                                            <a href="#" class="tm-plan-link tm-plan-link-green">Sign up</a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-table-col">

                            <table class="tm-plan">
                                <thead>
                                    <tr>
                                        <th class="text-xs-center tm-plan-table-header">Platinum Plan</th>
                                    </tr>
                                </thead>
                                <tbody class="tm-bg-light-orange">
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">Sed porttitor lobortis</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">30 sit amet luctus sapien</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">40 eget sagittis</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">50 aliquam eros nec tortor</td></tr>
                                    <tr class="tm-plan-table-row"><td class="tm-plan-table-cell">60 vel suscipit turpis</td></tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-xs-center">
                                            <a href="#" class="tm-plan-link tm-plan-link-orange">Sign up</a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>

                    </div> <!-- tm-plan-boxes-container -->

                </div>
            </div>
        </section>
{% endblock %}