{% extends 'onlineshop.html' %}

{% block content %}
    {% for product in jdlist %}
{#    {% for k, v in product.items %}#}
<div class="bjlineSmall singlebj bj_1570533847" >
  <div class="pic"><a class="shenqingGY" href="{{ product.url }}" target="_blank">
      <img src="{{ product.imgurl }}"></a></div>
  <div class="title">
    <div class="t"><a class="shenqingGY" href="{{ product.url }}" target="_blank">
        <font class="spnamehighword">{{ keyword }}</font>{{ product.desc }}</a> <span> <span class="priceyouhui"></span></span></div>

  </div>
  <div class="cost">
      <div class="p AreaPrice outprice"><em>¥</em><span class="listpricespan">{{ product.price }}</span></div>
   <font class="pricedanjia"></font><div class="mobprice"></div>
   <div style="width:120px"><span style="color:#FF5600;"></span></div>
  </div>
  <div class="comment">&nbsp; </div>
  <div class="mall">
    <p class="m"><img src="https://misc.360buyimg.com/jdf/1.0.0/unit/global-header/1.0.0/i/jdlogo-201708-@1x.png" height="42px" width="134px" align="absmiddle" alt="京东商城的报价"> <span class="shenqingGY">京东商城</span></p>
  </div>
  <div class="clear"></div>
</div>
{#        {% endfor %}#}
    {% endfor %}
    {% for suning in suninglist %}
<div class="bjlineSmall singlebj bj_1570533847" >
  <div class="pic"><a class="shenqingGY" href="{{ suning.url }}" target="_blank">
      <img src="{{ suning.imgurl }}"></a></div>
  <div class="title">
    <div class="t"><a class="shenqingGY" href="{{ suning.url }}" target="_blank">
        <font class="spnamehighword">{{ keyword }}</font>{{ suning.desc }}</a> <span> <span class="priceyouhui"></span></span></div>

  </div>
  <div class="cost">
      <div class="p AreaPrice outprice"><em>¥</em><span class="listpricespan">价钱在图</span></div>
   <font class="pricedanjia"></font><div class="mobprice"></div>
   <div style="width:120px"><span style="color:#FF5600;"></span></div>
  </div>
  <div class="comment">&nbsp; </div>
  <div class="mall">
    <p class="m"><img src="https://image3.suning.cn/uimg/cms/img/153135831598566332.png" height="42px" width="134px" align="absmiddle"> <span class="shenqingGY">苏宁易购</span></p>
  </div>
  <div class="clear"></div>
</div>
{#        {% endfor %}#}
    {% endfor %}

    {% for taobao in taobaolist %}
<div class="bjlineSmall singlebj bj_1570533847" >
  <div class="pic"><a class="shenqingGY" href="{{ taobao.detail_url }}" target="_blank">
      <img src="{{ taobao.imgurl }}"></a></div>
  <div class="title">
    <div class="t"><a class="shenqingGY" href="{{ taobao.detail_url }}" target="_blank">
        <font class="spnamehighword">{{ keyword }}</font>{{ taobao.title }}</a> <span> <span class="priceyouhui"></span></span></div>

  </div>
  <div class="cost">
      <div class="p AreaPrice outprice"><em>¥</em><span class="listpricespan">{{ taobao.price }}</span></div>
   <font class="pricedanjia"></font><div class="mobprice"></div>
   <div style="width:120px"><span style="color:#FF5600;"></span></div>
  </div>
  <div class="comment">&nbsp; </div>
  <div class="mall">
    <p class="m"><img src="https://gtms01.alicdn.com/tps/i1/T1Kz0pXzJdXXXIdnjb-146-58.png" height="42px" width="134px" align="absmiddle"> <span class="shenqingGY">淘宝天猫</span></p>
  </div>
  <div class="clear"></div>
</div>
{#        {% endfor %}#}
    {% endfor %}
<style type="text/css">
    .bjlineSmall{width: 990px;padding: 12px 0px;border-bottom:1px solid #eeeeee; position:relative;}
.bjlineSmall .clear{ height:0px; font-size:0px;overflow:hidden; clear:both;}
.bjlineSmall .pic{float:left;border: 0px solid #eee;width: 160px;height: 160px;text-align: center;overflow: hidden;margin-right:10px;margin-left: 10px;display: box;display: -webkit-box;display: -moz-box;-webkit-box-pack:center;-moz-box-pack:center;-webkit-box-align:center;-moz-box-align:center;}
.bjlineSmall .pic img{*width: 160px;border: 0px;max-width: 160px;max-height: 160px;}
.bjlineSmall .title{text-align: left;padding-left: 6px;padding-right: 10px;float: left;width: 400px;word-break: break-all;}
.bjlineSmall .title .t{line-height: 20px;}
.bjlineSmall .title .t a{font-size:14px;}
.bjlineSmall .title .t span{color: #FF5600;}
.bjlineSmall .title .i{margin-top: 5px;visibility:hidden;}
.bjlineSmall .title .zengsong{ margin-top:6px;}
.bjlineSmall .title .zengsong a{ margin:0px 6px 0px 2px;}
.bjlineSmall .title .zengsong a img{ vertical-align:middle;}
.bjlineSmall .cost{/* text-align: center; */width: 140px;float: left;padding-left: 20px;}
.bjlineSmall .cost .youhuiinfo{ line-height:22px; margin-top:2px;color:#FF5600;}
.bjlineSmall .cost .p{width: 120px;color: #CC0000;font-weight: bold;font-size: 20px;line-height:22px;}
.bjlineSmall .cost .p em{font-size: 12px; font-style:normal;}
.bjlineSmall .cost .instock,.bjlineSmall .cost .outstock{width: 120px;}
.bjlineSmall .cost .instock{ color:#5a5a5a;}
.bjlineSmall .cost .outstock{ color:#c1c1c1;}
.bjlineSmall .cost .outprice{ color:#5A5A5A;}
.bjlineSmall .cost .trend{width: 120px;}
.bjlineSmall .cost .trend i{ display:inline-block; width:16px; height:14px; overflow:hidden; vertical-align:-3px; margin-right:4px;_margin:5px 4px 5px 0px;*vertical-align:0px;_vertical-align:3px;}
.bjlineSmall .cost .trend i.t-up{ background-position:0px 0px;}
.bjlineSmall .cost .trend i.t-down{ background-position:-60px 0px;}
.bjlineSmall .cost .trend i.t-stable{ background-position:-30px 0px;}
.bjlineSmall .cost .trend i.t-low{ background-position:-90px 0px;}
.bjlineSmall .cost .trend i.t-udown{ background-position:-118px 0px;}
.bjlineSmall .cost .trend i.t-3{ background-position:0px 0px;}
.bjlineSmall .cost .trend i.t-2{ background-position:-60px 0px;}
.bjlineSmall .cost .trend i.t-4{ background-position:-30px 0px;}
.bjlineSmall .cost .trend i.t-0{ background-position:-90px 0px;}
.bjlineSmall .cost .trend i.t-1{ background-position:-118px 0px;}
.bjlineSmall .cost .mobprice a,.bjlineSmall .cost .wxprice{ color:#FF5600;}
.bjlineSmall .comment{text-align: center;line-height: 22px;width: 100px;float: left;}
.bjlineSmall .mall{text-align: center;margin-right: 0px;width: 120px;float: left;color: #999999;}
.bjlineSmall .mall p img{_margin:4px 0px;}
.bjlineSmall .mall p{ margin:0px; padding:0px; color:#5a5a5a; line-height:28px;}
.bjlineSmall .mall p.m{ line-height:22px;}
.bjlineSmall .mall p.t{ color:#ffffff;}
.bjlineSmall .other{text-align: center;line-height: 26px;width: 1px;overflow: hidden;float: right;}
.bjlineSmall .other .btngo{}
.bjlineSmall .other .btngo a{ display: inline-block; padding: 0px; line-height: 23px; font-size: 12px; color: #5a5a5a; width: 76px; height: 23px; background-position:0px -20px;}
.bjlineSmall .other .btngo a:hover { color: #EE6A19; text-decoration: underline;background-position:0px -44px;}


</style>

{% endblock %}