<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="/static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="/static/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/echarts.min.js"></script>
<!--//end-animate-->
<!-- chart -->
<script src="/static/js/Chart.js"></script>
<!-- //chart -->
<!--Calender-->
<link rel="stylesheet" href="/static/css/clndr.css" type="text/css" />
<script src="/static/js/underscore-min.js" type="text/javascript"></script>
<script src= "/static/js/moment-2.2.1.js" type="text/javascript"></script>
<script src="/static/js/clndr.js" type="text/javascript"></script>
<script src="/static/js/site.js" type="text/javascript"></script>
<!--End Calender-->
<!-- Metis Menu -->
<script src="/static/js/metisMenu.min.js"></script>
<script src="/static/js/custom.js"></script>
<link href="/static/css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->

		<!--left-fixed -navigation-->
		<!-- header-starts -->

		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="row-one">


					<div class="col-md-4 widget">
						<div class="stats-left ">
							<h5 id="suningid">{{ suningid }}</h5>
							<h4>苏宁易购</h4>
						</div>
						<div class="stats-right">
							<label> 45</label>
						</div>
						<div class="clearfix"> </div>	
					</div>
{#                    第二个#}
					<div class="col-md-4 widget states-mdl">
						<div class="stats-left">
							<h5 id="taobaoid">{{ taobaoid }}</h5>
							<h4>淘宝</h4>
						</div>
						<div class="stats-right">
							<label><a href="{{ taobaourl }}">{{ taobaoprice }}</a> </label>
						</div>
						<div class="clearfix"> </div>	
					</div>
{#                    第三个#}
					<div class="col-md-4 widget states-last">
						<div class="stats-left">
							<h5 id="jdid">{{ jdid }}</h5>
							<h4>京东</h4>
						</div>
						<div class="stats-right">
							<label><a href="{{ jdurl }}">{{ jdprice }}</a> </label>
						</div>
						<div class="clearfix"> </div>	
					</div>
					<div class="clearfix"> </div>	
				</div>


{#              三个元饼图  #}
{#              第一个是苏宁易购  #}
				<div class="charts">
					<div class="col-md-4 charts-grids widget">
						<h4 class="title">苏宁电商情况</h4>
						<div id="suning" style= "height:300px; width:400px;"> </div>
                        <p hidden id="suning"></p>
					</div>
{#                    第二个是淘宝#}
					<div class="col-md-4 charts-grids widget states-mdl">
						<h4 class="title">淘宝电商情况</h4>
						<div id="taobao" style= "height:300px; width:400px;"> </div>
                        <div class="tm-media-text-container">
                                {% for comment in taobaocomments %}
                        <p class="tm-media-description tm-gray-text-2">
                        买家：{{ conment.displayUserNick }}说：“{{ comment.rateContent }}”</p>
                                    <br>
                        {% endfor %}
                    </div>
					</div>
{#                    第三个是京东#}
					<div class="col-md-4 charts-grids widget">
						<h4 class="title">京东电商情况</h4>
						<div id="JD" style= "height:300px; width:400px;"> </div>
                        <div class="tm-media-text-container">
                                {% for comment in jdcomments %}
                        <p class="tm-media-description tm-gray-text-2">{{ comment.userLevelName }}
                        买家：{{ conment.nickname }}说：“{{ comment.content }}”</p>
                                    <br>
                        {% endfor %}
                    </div>
					</div>
					<div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
							 <script>
                                 window.onload = function () {
                        {#             获取三家电商的商品id#}
                                     var jdid = document.getElementById("jdid");
                                     var taobaoid = document.getElementById("taobaoid");
                                     var suningid = document.getElementById("suningid");



                        {#             初始化加载 三个元饼图#}
                            var jd = echarts.init(document.getElementById('JD'));
                            var taobao = echarts.init(document.getElementById('taobao'));
                            var suning = echarts.init(document.getElementById('suning'));
                            // 显示标题，图例和空的坐标轴
                        {#             京东#}
                               jd.setOption({
                                color: ['#ff7d27', '#47b73d', '#fcc36e', '#57a2fd', "#228b22"],//饼图颜色
                                title: {
                        {#            text: '信息发布排行',#}
                        {#            subtext: '纯属虚构',#}
                                    x:'center'
                                },
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },        
                                legend: {
                                    orient: 'vertical',
                                    x: 'left',
                                    data: []
                                },        
                                toolbox: {
                                    show: true,
                                    feature: {
                                        mark: { show: true },
                                        dataView: { show: true, readOnly: false },
                                        magicType: {
                                            show: true,
                                            type: ['pie', 'funnel'],
                                            option: {
                                                funnel: {
                                                    x: '25%',
                                                    width: '50%',
                                                    funnelAlign: 'left',
                                                    max: 1548
                                                }
                                            }
                                        },
                                        restore: { show: true },
                                        saveAsImage: { show: true }
                                    }
                                },         
                                series: [{
                                    name: '发布排行',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],            
                                    data: []
                                }]        
                            });
                            jd.showLoading();    //数据加载完之前先显示一段简单的loading动画
                            var jdnamelist = [];    //类别数组（用于存放饼图的类别）
                            var jdcountlist = [];
                            var jddata = [];
                            $.ajax({
                                type: 'get',
                         url: 'http://94.191.87.62:8090/api/JDCommntSum/?productid='+jdid.innerText,//请求数据的地址
                                dataType: "json",        //返回数据形式为json
                                success: function (result) {
                                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                                    var data = result.results;
                                    console.log(data[0]);

                                    jd.hideLoading();    //隐藏加载动画
                                    jd.setOption({        //加载数据图表                
                                        legend: {                    
                                            data: ['总评论人数', '中评人数', '好评人数', '差评人数']
                                        },
                                        series: [{                    
                                            data: [
                {value:data[0]['commentCount'], name:'总评论人数'},
                {value:data[0]['generalCount'], name:'中评人数'},
                {value:data[0]['goodCount'], name:'好评人数'},
                {value:data[0]['poorCount'], name:'差评人数'},
            ],
                                        }]
                                    });
                                },
                                error: function (errorMsg) {
                                    //请求失败时执行该函数
                                    alert("图表请求数据失败!");
                                    jd.hideLoading();
                                }
                            });



                        {# 淘宝      #}
                        taobao.setOption({
                                color: ['#ff7d27', '#47b73d', '#fcc36e', '#57a2fd', "#228b22"],//饼图颜色
                                title: {
                        {#            text: '信息发布排行',#}
                        {#            subtext: '纯属虚构',#}
                                    x:'center'
                                },
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },        
                                legend: {
                                    orient: 'vertical',
                                    x: 'left',
                                    data: []
                                },        
                                toolbox: {
                                    show: true,
                                    feature: {
                                        mark: { show: true },
                                        dataView: { show: true, readOnly: false },
                                        magicType: {
                                            show: true,
                                            type: ['pie', 'funnel'],
                                            option: {
                                                funnel: {
                                                    x: '25%',
                                                    width: '50%',
                                                    funnelAlign: 'left',
                                                    max: 1548
                                                }
                                            }
                                        },
                                        restore: { show: true },
                                        saveAsImage: { show: true }
                                    }
                                },         
                                series: [{
                                    name: '发布排行',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],            
                                    data: []
                                }]        
                            });
                            taobao.showLoading();    //数据加载完之前先显示一段简单的loading动画
                            var taobaonamelist = [];    //类别数组（用于存放饼图的类别）
                            var taobaovalueslist = [];
                            var datajson = [];
                            $.ajax({
                                type: 'get',
                                url: 'http://94.191.87.62:8090/api/TaobaoTag/?productid='+taobaoid.innerText,//请求数据的地址
                                dataType: "json",        //返回数据形式为json
                                success: function (result) {
                                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                                    var data = result;
                                    for (var i= 0;i<data.results.length; i++){
                                        taobaonamelist.push(data['results'][i]['tagname']);
                                        taobaovalueslist.push(data['results'][i]['tagcount']);
                                    }
                                    for(var i=0; i<taobaonamelist.length;i++){
                                    var json = {};
                                        for (var j =0; j<taobaovalueslist.length;j++){
                                            if(i==j){
                                                json.value = taobaovalueslist[j][0];
                                                json.name = taobaonamelist[i];
                                                datajson.push(json)
                                            }
                                        }
                                    }
                                    taobao.hideLoading();    //隐藏加载动画
                                    taobao.setOption({        //加载数据图表                
                                        legend: {                    
                                            data: taobaonamelist
                                        },
                                        series: [{                    
                                            data: datajson
                                        }]
                                    });
                                },
                                error: function (errorMsg) {
                                    //请求失败时执行该函数
                                    alert("图表请求数据失败!");
                                    taobao.hideLoading();
                                }
                            });                           

                        {#suning#}
                        suning.setOption({
                                color: ['#ff7d27', '#47b73d', '#fcc36e', '#57a2fd', "#228b22"],//饼图颜色
                                title: {
                        {#            text: '信息发布排行',#}
                        {#            subtext: '纯属虚构',#}
                                    x:'center'
                                },
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },        
                                legend: {
                                    orient: 'vertical',
                                    x: 'left',
                                    data: []
                                },        
                                toolbox: {
                                    show: true,
                                    feature: {
                                        mark: { show: true },
                                        dataView: { show: true, readOnly: false },
                                        magicType: {
                                            show: true,
                                            type: ['pie', 'funnel'],
                                            option: {
                                                funnel: {
                                                    x: '25%',
                                                    width: '50%',
                                                    funnelAlign: 'left',
                                                    max: 1548
                                                }
                                            }
                                        },
                                        restore: { show: true },
                                        saveAsImage: { show: true }
                                    }
                                },         
                                series: [{
                                    name: '发布排行',
                                    type: 'pie',
                                    radius: '55%',
                                    center: ['50%', '60%'],            
                                    data: []
                                }]        
                            });
                            suning.showLoading();    //数据加载完之前先显示一段简单的loading动画
                            var taobaonamelist = [];    //类别数组（用于存放饼图的类别）
                            var taobaovalueslist = [];
                            var datajson = [];
                            $.ajax({
                                type: 'get',
                                url: 'http://94.191.87.62:8090/api/TaobaoTag/?format=json',//请求数据的地址
                                dataType: "json",        //返回数据形式为json
                                success: function (result) {
                                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                        {#            var data = result;#}
                        {#            for (var i= 0;i<data.results.length; i++){#}
                        {#                taobaonamelist.push(data['results'][i]['tagname']);#}
                        {#                taobaovalueslist.push(data['results'][i]['tagcount']);#}
                        {#            }#}
                                    {#console.log(taobaonamelist);#}
                        {#            for(var i=0; i<taobaonamelist.length;i++){#}
                        {#            var json = {};#}
                        {#                for (var j =0; j<taobaovalueslist.length;j++){#}
                        {#                    if(i==j){#}
                        {#                        json.value = taobaovalueslist[j][0];#}
                        {#                        json.name = taobaonamelist[i];#}
                        {#                        datajson.push(json)#}
                        {#                    }#}
                        {#                }#}
                        {#            }#}
                                    suning.hideLoading();    //隐藏加载动画
                                    suning.setOption({        //加载数据图表                
                                        legend: {                    
                                            data: taobaonamelist
                                        },
                                        series: [{                    
                                            data: [
                {value:335, name:'直接访问'},
                {value:310, name:'邮件营销'},
                {value:234, name:'联盟广告'},
                {value:135, name:'视频广告'},
                {value:1548, name:'搜索引擎'}
            ],
                                        }]
                                    });
                                },
                                error: function (errorMsg) {
                                    //请求失败时执行该函数
                                    alert("图表请求数据失败!");
                                    suning.hideLoading();
                                }
                            });
                        };
                        {#loadOneColumn();#}
							</script>
							
{#				<div class="row">#}
{#					<div class="col-md-4 stats-info widget">#}
{#						<div class="stats-title">#}
{#							<h4 class="title">Browser Stats</h4>#}
{#						</div>#}
{#						<div class="stats-body">#}
{#							<ul class="list-unstyled">#}
{#								<li>GoogleChrome <span class="pull-right">85%</span>  #}
{#									<div class="progress progress-striped active progress-right">#}
{#										<div class="bar green" style="width:85%;"></div> #}
{#									</div>#}
{#								</li>#}
{#								<li>Firefox <span class="pull-right">35%</span>  #}
{#									<div class="progress progress-striped active progress-right">#}
{#										<div class="bar yellow" style="width:35%;"></div>#}
{#									</div>#}
{#								</li>#}
{#								<li>Internet Explorer <span class="pull-right">78%</span>  #}
{#									<div class="progress progress-striped active progress-right">#}
{#										<div class="bar red" style="width:78%;"></div>#}
{#									</div>#}
{#								</li>#}
{#								<li>Safari <span class="pull-right">50%</span>  #}
{#									<div class="progress progress-striped active progress-right">#}
{#										<div class="bar blue" style="width:50%;"></div>#}
{#									</div>#}
{#								</li>#}
{#								<li>Opera <span class="pull-right">80%</span>  #}
{#									<div class="progress progress-striped active progress-right">#}
{#										<div class="bar light-blue" style="width:80%;"></div>#}
{#									</div>#}
{#								</li>#}
{#								<li class="last">Others <span class="pull-right">60%</span>  #}
{#									<div class="progress progress-striped active progress-right">#}
{#										<div class="bar orange" style="width:60%;"></div>#}
{#									</div>#}
{#								</li> #}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-md-8 stats-info stats-last widget-shadow">#}
{#						<table class="table stats-table ">#}
{#							<thead>#}
{#								<tr>#}
{#									<th>S.NO</th>#}
{#									<th>PRODUCT</th>#}
{#									<th>STATUS</th>#}
{#									<th>PROGRESS</th>#}
{#								</tr>#}
{#							</thead>#}
{#							<tbody>#}
{#								<tr>#}
{#									<th scope="row">1</th>#}
{#									<td>Lorem ipsum</td>#}
{#									<td><span class="label label-success">In progress</span></td>#}
{#									<td><h5>85% <i class="fa fa-level-up"></i></h5></td>#}
{#								</tr>#}
{#								<tr>#}
{#									<th scope="row">2</th>#}
{#									<td>Aliquam</td>#}
{#									<td><span class="label label-warning">New</span></td>#}
{#									<td><h5>35% <i class="fa fa-level-up"></i></h5></td>#}
{#								</tr>#}
{#								<tr>#}
{#									<th scope="row">3</th>#}
{#									<td>Lorem ipsum</td>#}
{#									<td><span class="label label-danger">Overdue</span></td>#}
{#									<td><h5  class="down">40% <i class="fa fa-level-down"></i></h5></td>#}
{#								</tr>#}
{#								<tr>#}
{#									<th scope="row">4</th>#}
{#									<td>Aliquam</td>#}
{#									<td><span class="label label-info">Out of stock</span></td>#}
{#									<td><h5>100% <i class="fa fa-level-up"></i></h5></td>#}
{#								</tr>#}
{#								<tr>#}
{#									<th scope="row">5</th>#}
{#									<td>Lorem ipsum</td>#}
{#									<td><span class="label label-success">In progress</span></td>#}
{#									<td><h5 class="down">10% <i class="fa fa-level-down"></i></h5></td>#}
{#								</tr>#}
{#								<tr>#}
{#									<th scope="row">6</th>#}
{#									<td>Aliquam</td>#}
{#									<td><span class="label label-warning">New</span></td>#}
{#									<td><h5>38% <i class="fa fa-level-up"></i></h5></td>#}
{#								</tr>#}
{#							</tbody>#}
{#						</table>#}
{#					</div>#}
{#					<div class="clearfix"> </div>#}
{#				</div>#}
{#				<div class="row">#}
{#					<div class="col-md-8 map widget-shadow">#}
{#						<h4 class="title">Visitors Map </h4>#}
{#						<div class="map_container"><div id="vmap" style="width: 100%; height: 354px;"></div></div>#}
{#						<!--map js-->#}
{#						<link href="/static/css/jqvmap.css" rel='stylesheet' type='text/css' />#}
{#						<script src="/static/js/jquery.vmap.js"></script>#}
{#						<script src="/static/js/jquery.vmap.sampledata.js" type="text/javascript"></script>#}
{#						<script src="/static/js/jquery.vmap.world.js" type="text/javascript"></script>#}
{#						<script type="text/javascript">#}
{#							jQuery(document).ready(function() {#}
{#								jQuery('#vmap').vectorMap({#}
{#									map: 'world_en',#}
{#									backgroundColor: '#fff',#}
{#									color: '#696565',#}
{#									hoverOpacity: 0.8,#}
{#									selectedColor: '#696565',#}
{#									enableZoom: true,#}
{#									showTooltip: true,#}
{#									values: sample_data,#}
{#									scaleColors: ['#585858', '#696565'],#}
{#									normalizeFunction: 'polynomial'#}
{#								});#}
{#							});#}
{#						</script>#}
{#						<!-- //map js -->#}
{#					</div>#}
{#					<div class="col-md-4 social-media widget-shadow">#}
{#						<div class="wid-social twitter">#}
{#							<div class="social-icon">#}
{#								<i class="fa fa-twitter text-light icon-xlg "></i>#}
{#							</div>#}
{#							<div class="social-info">#}
{#								<h3 class="number_counter bold count text-light start_timer counted">3.1 K</h3>#}
{#								<h4 class="counttype text-light">Tweets</h4>#}
{#							</div>#}
{#						</div>#}
{#						<div class="wid-social google-plus">#}
{#							<div class="social-icon">#}
{#								<i class="fa fa-google-plus text-light icon-xlg "></i>#}
{#							</div>#}
{#							<div class="social-info">#}
{#								<h3 class="number_counter bold count text-light start_timer counted">523</h3>#}
{#								<h4 class="counttype text-light">Circles</h4>#}
{#							</div>#}
{#						</div>#}
{#						<div class="wid-social facebook">#}
{#							<div class="social-icon">#}
{#								<i class="fa fa-facebook text-light icon-xlg "></i>#}
{#							</div>#}
{#							<div class="social-info">#}
{#								<h3 class="number_counter bold count text-light start_timer counted">1.06K</h3>#}
{#								<h4 class="counttype text-light">Likes</h4>#}
{#							</div>#}
{#						</div>#}
{#						<div class="wid-social dribbble">#}
{#							<div class="social-icon">#}
{#								<i class="fa fa-dribbble text-light icon-xlg "></i>#}
{#							</div>#}
{#							<div class="social-info">#}
{#								<h3 class="number_counter bold count text-light start_timer counted">1.6 K</h3>#}
{#								<h4 class="counttype text-light">Subscribers</h4>#}
{#							</div>#}
{#						</div>#}
{#						<div class="wid-social vimeo">#}
{#							<div class="social-icon">#}
{#								<i class="fa fa-vimeo-square text-light icon-xlg"> </i>#}
{#							</div>#}
{#							<div class="social-info">#}
{#								<h3 class="number_counter bold count text-light start_timer counted">2.1 m</h3>#}
{#								<h4 class="counttype text-light">Contacts</h4>#}
{#							</div>#}
{#						</div>#}
{#						<div class="wid-social xing">#}
{#							<div class="social-icon">#}
{#								<i class="fa fa-xing text-light icon-xlg "></i>#}
{#							</div>#}
{#							<div class="social-info">#}
{#								<h3 class="number_counter bold count text-light start_timer counted">2525</h3>#}
{#								<h4 class="counttype text-light">Connections</h4>#}
{#							</div>#}
{#						</div>#}
{#						<div class="wid-social flickr">#}
{#							<div class="social-icon">#}
{#								<i class="fa fa-android text-light icon-xlg"></i>#}
{#							</div>#}
{#							<div class="social-info">#}
{#								<h3 class="number_counter bold count text-light start_timer counted">1221</h3>#}
{#								<h4 class="counttype text-light">Media</h4>#}
{#							</div>#}
{#						</div>#}
{#						<div class="wid-social yahoo">#}
{#							<div class="social-icon">#}
{#								<i class="fa fa-yahoo text-light icon-xlg"> Y!</i>#}
{#							</div>#}
{#							<div class="social-info">#}
{#								<h3 class="number_counter bold count text-light start_timer counted">2525</h3>#}
{#								<h4 class="counttype text-light">Connections</h4>#}
{#							</div>#}
{#						</div>#}
{#						<div class="wid-social rss">#}
{#							<div class="social-icon">#}
{#								<i class="fa fa-rss text-light icon-xlg"></i>#}
{#							</div>#}
{#							<div class="social-info">#}
{#								<h3 class="number_counter bold count text-light start_timer counted">1523</h3>#}
{#								<h4 class="counttype text-light">Subscribers</h4>#}
{#							</div>#}
{#						</div>#}
{#						<div class="wid-social youtube">#}
{#							<div class="social-icon">#}
{#								<i class="fa fa-youtube text-light icon-xlg"></i>#}
{#							</div>#}
{#							<div class="social-info">#}
{#								<h3 class="number_counter bold count text-light start_timer counted">1523</h3>#}
{#								<h4 class="counttype text-light">Subscribers</h4>#}
{#							</div>#}
{#						</div>#}
{#						<div class="clearfix"> </div>#}
{#					</div>#}
{#					<div class="clearfix"> </div>#}
{#				</div>#}
{#				<div class="row calender widget-shadow">#}
{#					<h4 class="title">Calender</h4>#}
{#					<div class="cal1">#}
{#						#}
{#					</div>#}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#			</div>#}
{#		</div>#}
{#		<!--footer-->#}
{#		<div class="footer">#}
{#		   <p>Copyright &copy; 2016.Company name All rights reserved.</p>#}
{#		</div>#}
{#        <!--//footer-->#}
{#	</div>#}
	<!-- Classie -->
{#		<script src="/static/js/classie.js"></script>#}
{#		<script>#}
{#			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),#}
{#				showLeftPush = document.getElementById( 'showLeftPush' ),#}
{#				body = document.body;#}
{#				#}
			{#showLeftPush.onclick = function() {#}
			{#	classie.toggle( this, 'active' );#}
			{#	classie.toggle( body, 'cbp-spmenu-push-toright' );#}
			{#	classie.toggle( menuLeft, 'cbp-spmenu-open' );#}
			{#	disableOther( 'showLeftPush' );#}
			{#};#}
{#			#}
{##}
{#			function disableOther( button ) {#}
{#				if( button !== 'showLeftPush' ) {#}
{#					classie.toggle( showLeftPush, 'disabled' );#}
{#				}#}
{#			}#}
{#		</script>#}

	<!--scrolling js-->
	<script src="/static/js/jquery.nicescroll.js"></script>
	<script src="/static/js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
   <script src="/static/js/bootstrap.js"> </script>
</body>
</html>